@import url("https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Bakbak+One&family=Clicker+Script&family=Patrick+Hand&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap");
// ------------------- start in about me -------------------
.mySidenav {
  .ContentAbout {
    @media only screen and (max-width: $widhtmedium) {
      margin-left: 0;
    }
    .ExplainAbout {
      .MyJop {
        //   @extend .TextWeb;
      }
      p {
        @include styleP;
      }
    }
    .InformationSkill {
      margin-top: $margintp;
      .Information {
        margin-bottom: $margintp;
        h4 {
          flex-wrap: nowrap;
          font-weight: 800;
          color: $text-black-900;
          border-bottom: 1px solid $text-black-700;
          padding: $padingtp 0;
          text-transform: capitalize;
          font-size: 1.2rem;
          span {
            font-weight: 500;
            font-size: 1.1rem;
            color: $text-black-700;
          }
        }
        .group-button {
          margin-top: $margintp;
          padding: 10px;
          button {
            margin-left: $marginLeft;
          }
        }
      }
    }
    .eduexp {
    }
  }
}
