.sidebar {
  transition: all 0.7s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: $bg-black-100;

  .TextName {
    .name {
      position: relative;
      font-size: 1.2rem;
      color: $text-black-900;
      .font {
        font-family: "Clicker Script", cursive;
        font-size: 3rem;
        font-weight: 1000;
      }
      margin: 20px auto;
      font-size: 30px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 20%;
        width: $widhthightname;
        height: $widhthightname;
      }
      &::after {
        content: "";
        border-bottom: $borderFontname solid $beafname;
        border-left: $borderFontname solid $beafname;
        position: absolute;
        bottom: 0;
        left: 20%;
        width: $widhthightname;
        height: $widhthightname;
      }
    }
  }
  .list {
    .list-group {
      li {
        text-transform: capitalize;
        cursor: pointer;
        position: relative;
        padding: 10px 15px;
        list-style: none;
        border-bottom: 1px solid $text-black-900;
        overflow: hidden;
        transition: all 0.1s linear;

        i {
          transition: all 0.8s;
        }
        a {
          text-transform: capitalize;
          text-decoration: none;
          margin-left: 25px;
          text-align: start;
          transition: all 0.1s;
        }
        .NotActive {
          color: $text-black-700;
        }
      }
    }
  }
  // start in social media
  .SocialMedia {
    width: 100%;
    span {
      margin-top: 10px;
      font-size: 1rem;
      list-style: none;
      cursor: pointer;
      transition: all 0.5s ease;
      a {
        transition: all 0.5s ease;
        color: $text-black-700;
        border: 3px solid $text-black-700;
        border-radius: 50%;
        padding: 10px;
        text-decoration: none;
      }
      &:hover {
        margin-top: -1px;
        // facebook
        .LinkFace {
          border: 3px solid #3b5998;
          box-shadow: 0 0 15px #3b5998;
          transition: all 0.5s ease;
        }
        .fa-facebook-f {
          color: #3b5998;
          text-shadow: 0 0 15px #3b5998;
          transition: all 0.5s ease;
        }
        // github
        .LinkGit {
          border: 3px solid #171515;
          box-shadow: 0 0 15px #171515;
          transition: all 0.5s ease;
        }
        .fa-github {
          color: #171515;
          text-shadow: 0 0 15px #171515;
          transition: all 0.5s ease;
        }
        // linkedin
        .LinkLinked {
          border: 3px solid #0077b5;
          box-shadow: 0 0 15px #0077b5;
          transition: all 0.5s ease;
        }
        .fa-linkedin-in {
          color: #0077b5;
          text-shadow: 0 0 15px #0077b5;
          transition: all 0.5s ease;
        }
        // Gmail
        .LinkGmail {
          border: 3px solid #ea4335;
          box-shadow: 0 0 15px #ea4335;
          transition: all 0.5s ease;
        }
        .fa-envelope-circle-check {
          color: #ea4335;
          text-shadow: 0 0 15px #ea4335;
          transition: all 0.5s ease;
        }
        // whatsapp
        .LiknWtatsapp {
          border: 3px solid #4dc247;
          box-shadow: 0 0 15px #4dc247;
          transition: all 0.5s ease;
        }
        .fa-whatsapp {
          color: #4dc247;
          text-shadow: 0 0 15px #4dc247;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .cv {
    text-transform: uppercase;
    border: 2px solid $text-black-700;
    color: $text-black-700;
  }

  @media only screen and (max-width: $maxmeiumm) {
    height: 100%;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: -200%;
  }
}
