$bg-black-900: #f2f2fc;
$bg-black-100: #fdf9ff;
$bg-black-5: #e89fec;
$text-black-900: #302e70;
$text-black-700: #504e70;

// theme color
$beafname: #ec1839;
$ColorOrange: #fa5b0f;
$ColorGreen: #37b182;
$ColorBlue: #1854b4;

$widhthightname: 20px;
$widhthightimg: 70px;
$borderFontname: 4px;
$borderFontimg: 6px;

$sizeP: 1.2rem;
$sizeH: 2rem;
$sizeSp: 1rem;
$size: 100px;

$bRadiusButton: 20px;
$WidthButton: 150px;
$bRadiusTow: 5px;

$padingtp: 12px;
$padinglr: 35px;

$margintp: 40px;
$margintlr: 40px;
$marginLeft: 10px;
// sizing pc mopile .....

$minmobile: 768px;
$widhtmobile: 720px;

$maxmeiumm: 992px;
$widhtmedium: 970px;

$maxlarge: 1200px;
$widhtlarge: 1170px;
